<div class="row">
    <div class="col-sm-12 mx-auto">
        <table class="table table-responsive-sm table-striped table-bordered text-center">
            <thead>
            <tr>
                <th>
                    <a href="{{ pager.getSortingLink('name') }}">Имя{{ pager.getPointer('name') }}</a>
                </th>
                <th>
                    <a href="{{ pager.getSortingLink('surname') }}">Фамилия{{ pager.getPointer('surname') }}</a>
                </th>
                <th><a href="{{ pager.getSortingLink('groupNumber') }}">Номер
                        группы{{ pager.getPointer('groupNumber') }}</a></th>
                <th><a href="{{ pager.getSortingLink('examPoints') }}">Суммарный
                        балл {{ pager.getPointer('examPoints') }}</a></th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.surname }}</td>
                    <td>{{ student.groupNumber }}</td>
                    <td>{{ student.examPoints }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>